[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
yapf = "*"
pipenv-to-requirements = "*"
pytest = "*"
azure-storage-blob = "*"

[packages]
azure-functions = "*"
azure-functions-worker = "*"
aiosmtplib = "*"
marshmallow = "*"
sremail = "*"
pytest = "*"

[scripts]
freeze = "pipenv_to_requirements -f"
